*{
	margin-left: 10px;
}

input{
	border-radius: 3px;
	margin-left: 30px;
}
	
textarea{
	border-radius: 3px;
	margin-left: 30px;
}

.buttons *{
	display: inline;
	border-radius: 3px;
	margin-left: 20px;
	margin-top: 10px;
}


.error{
	color : red;
}